.gameField {
    width: fit-content;
    height: fit-content;
    padding: 0px;
    background:rgba(194, 88, 171, 0.281);
    
    display: grid;
    grid-gap: 1px;
}

.gameField10 {
    grid-template-columns: repeat(10,30px);
    grid-template-rows: repeat(10,30px);
}
.gameField20 {
    grid-template-columns: repeat(20,30px);
    grid-template-rows: repeat(20,30px);
}
.gameField30 {
    grid-template-columns: repeat(30,30px);
    grid-template-rows: repeat(30,30px);
    
}

.cell{
    border: 2px #7922CC;
    background: hsl(0deg 0% 0% / 20%);
    font-size: 30px;
    color: #7922CC;
    font-style: initial;
    text-align: center;
    user-select: none;
    background-color: #EEDDFF;
  border: 2px solid #7922CC;
    
    border-radius: 5px;
}

.hidden {
    display: none;
}

.bomb{
    border: 2px solid rgb(209, 29, 5);
    background: url(bomb.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.numbers1{
    border: 2px solid #00CED1;
    background-color: #E0FFFF	;
    font-size: 0px ;
    color: rgb(84, 184, 150);
    font-style: initial;
    text-align: center;

}

.numbers2 {
    border: 2px solid #00CED1;
    background-color: #E0FFFF	;
    font-size: 25px ;
    color: rgb(18, 109, 55);
    font-style: initial;
    text-align: center;

}

.numbers3{
    border: 2px solid #00CED1;
background-color: #E0FFFF	;
font-size: 27px ;
color: rgb(168, 166, 1);
font-style: initial;
text-align: center;
}

.numbers4{

    border: 2px solid #00CED1;
    background-color: #E0FFFF	;
    font-size: 27px ;
    color: rgb(139, 104, 6);
    font-style: initial;
    text-align: center;

}

.numbers5{

    border: 2px solid #00CED1;
    background-color: #E0FFFF	;
    font-size: 27px ;
    color: rgb(196, 52, 8);
    font-style: initial;
    text-align: center;

}

.numbers6{

    border: 2px solid #00CED1;
    background-color: #E0FFFF	;
    font-size: 27px ;
    color: rgb(0, 0, 0);
    font-style: initial;
    text-align: center;

}
.bomb1{
    border: 2px solid rgb(209, 29, 5);
    background-color: red;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}