.gameField {
    width: fit-content;
    height: fit-content;
    padding: 4px;
    background:rgba(194, 88, 171, 0.281);

    display: grid;
    grid-gap: 1px;
}

.gameField10 {
    grid-template-columns: repeat(10,36px);
    grid-template-rows: repeat(10,36px);
}
.gameField20 {
    grid-template-columns: repeat(20,24px);
    grid-template-rows: repeat(20,24px);
}
.gameField30 {
    grid-template-columns: repeat(30,16px);
    grid-template-rows: repeat(30,16px);
}

.cell{
    border: 1px solid rgb(12, 172, 172);
    background: hsl(0deg 0% 0% / 20%);
    font-size: 30px;
    color: aquamarine;
    font-style: initial;
    text-align: center;
}

.hidden {
    display: none;
}

.bomb{
    border: 2px solid rgb(209, 29, 5);
    background: url(bomb.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.ccc{
    border: 1px solid yellowgreen;
    background-color: azure;
    font-size: 10px ;
    color: aquamarine;
    font-style: initial;
    text-align: center;

}